.path {
  fill: #48BB78;
  stroke: #48BB78;
  stroke-width: 2px;
  stroke-linejoin: round;
  animation: fill-color 3.2s 
}

@keyframes fill-color {
  0% {
    fill: none;
  }

  10% {
    fill: rgba(72, 187, 120, 0.04);
  }

  20% {
    fill: rgba(72, 187, 120, 0.1);
  }

  30% {
    fill: rgba(72, 187, 120, 0.24);
  }

  40% {
    fill: rgba(72, 187, 120, 0.44);
  }

  50% {
    fill: rgba(72, 187, 120, 0.64);
  }

  60% {
    fill: rgba(72, 187, 120, 0.84);
  }

  100% {
    fill: #48BB78;
  }
}